.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  body {
    background-image: url("../images/bg01.jpg");
    background-color: #cccccc;
    background-size: auto;

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   }